body {
	height: 100%;
	margin: 0px;
	overflow: hidden;
	font-family: 'Noto Sans', sans-serif;
}

.topnav {
	position: fixed;
	top: 0;
	height: 5em;
	z-index: 100;
	display: flex;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	padding-top: 0.9em;
}

.topnav ul {

	width: 95%;
	list-style-type: none;
}

.topnav ul li {
	display: inline;
	margin-left: 3%;
}

.topnav ul li:first-child {
	margin-left: 0em;
	margin-right: 8%;
}

.topnav a {
	color: #f2f2f2;
	text-decoration: none;
	font-size: 1.4em;
}

.topnav a:hover {
	color: #c2c2c2;
}

.topnav a.active {
	color: white;
}

.topnav .icon {
	display: none;
	padding-right: 0.9em;;
	padding-top: 16px;
}

.topnav .selected a {
	color: rgb(3, 169, 244);
	cursor: auto;
}

@media screen and (max-width: 650px) {
	.topnav ul li:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 650px) {

	.topnav.responsive {

		height: 12em;
		background-color: rgba(0, 0, 0, 0.8);
	}

	.topnav.responsive ul li {
		float: none;
		display: block;
		text-align: left;
	}
}

#main {
	transition: all .4s ease-in-out;
}

.slide {
	height: 93%;

	background-size : cover;
	background-position: top;

	display: flex;
	flex-direction: column;
}

.dark {
	color: white;
}

.content {
	padding-top: 9em;
	padding-left: 10%;
	overflow: hidden;
	width: 80%;
}

.content h1 {
	font-size: 3em;
	margin-block-start: 0em;
}

.content p {
	word-wrap: break-word;
}

.slide-bottom {
	font-size: 3em;
	margin-top:auto;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
}

#downscroller {
	user-select: none;
	position: fixed;
	bottom: 3%;
	display: flex;
	justify-content: center;
	width: 100%;
}

#downscroller a {
	opacity: 0.5;
	text-decoration: none;
	-ms-transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
	-moz-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	transition: all 0.25s ease-in-out 0s;
	width: 50px;
}

#downscroller a:hover {
	opacity: 1;
}

.legal {
	background-color: rgb(43, 44, 44);
	color: white;
	height: 5%;
	font-size: 0.8em;
	padding: 1em;
}

/* Action button */
.action-button {
	appearance: none;
	background-color: #2ea44f;
	border: 1px solid rgba(27, 31, 35, .15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
}

.action-button:focus:not(:focus-visible):not(.focus-visible) {
	box-shadow: none;
	outline: none;
}

.action-button:hover {
	background-color: #2c974b;
}

.action-button:focus {
	box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
	outline: none;
}

.action-button:disabled {
	background-color: #94d3a2;
	border-color: rgba(27, 31, 35, .1);
	color: rgba(255, 255, 255, .8);
	cursor: default;
}

.action-button:active {
	background-color: #298e46;
	box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}